@use "../../assets/sass/abstracts/variables" as color;
@use "../../assets/sass/abstracts/mixins" as mix;

.property-card {
  text-decoration: none;
  transform: scale(1);
  transition: all 200ms ease-in-out;



  &-content {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-end;

    width: 340px;

    height: 340px;
    flex-shrink: 0;

    border-radius: 10px;
    background-size: cover;
    background-position: center;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(255, 255, 255, 0) 40%
      ); /* Gradient noir */
      z-index: 1;
    }
    @include mix.media(tablet) {
      max-width: 90vw;
      height: 255px;
      width: 500px;
    }
  }

  &-title {
    z-index: 2;
    font-size: 18px;
    padding: 20px;
  }

  &:hover {
    transform: scale(1.05);
  }
}
