@use "../../assets/sass/abstracts/variables" as color;
@use "../../assets/sass/abstracts/mixins" as mix;

.header {
  box-sizing: border-box;
  width: 100%;
  max-width: 1240px;
  margin-top: 45px;

  display: flex;
  justify-content: space-between;

  &-logo {
    color: color.$primary-color;
    max-height: 68px;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 57px;
  }

  a {
    color: color.$primary-color;
    text-decoration: none;
    border-bottom: none;
    transition: all 350ms ease-in-out;

    &:hover {
      border-bottom: 1px solid color.$primary-color;
    }

    &.active {
      border-bottom: 1px solid color.$primary-color;
    }
  }

  @include mix.media(desktop) {
    margin-top: 20px;
    padding: 0px 20px 0px 20px;
    
    &-logo {
      max-width: 40vw;
      max-height: 46px;
      margin-right: 20px;
    }

    nav {
      gap: 26px;
    }
  }
}
