@use "../../assets/sass/abstracts/variables" as var;
@use "../../assets/sass/abstracts/mixins" as mix;

.collapse-container {
  box-sizing: border-box;
  width: 100%;
  max-width: 90vw;
  overflow: hidden;

  .collapse-header {
    box-sizing: border-box;
    overflow: hidden;
    padding: 10px 15px 10px 15px;

    width: 100%;
    height: 52px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 5px !important;
    background: var.$primary-color;
    color: white;
    font-size: 24px;

    .collapse-arrow {
      transform: scale(1);
      transition: all 300ms ease-in-out;
      cursor: pointer;

      &:hover {
        transform: scale(1.3);
      }

      &.open {
        rotate: 180deg;
      }
    }
  }

  .collapse-body {
    overflow: hidden;
    height: auto;

    .collapse-content {
      padding: 16px 20px;
      border-radius: 5px !important;
      background-color: var.$background;
      color: var.$primary-color;
      p {
        color: var.$primary-color;
      }

      ul {
        color: var.$primary-color;
        list-style-type: none;
      }
  
      &-enter {
        transform: translateY(0px);
        transition: transform 550ms linear;
      }
      &-enter-active {
        transform: translateY(0px);
        transition: transform 550ms linear;
      }

      &-exit {
        transform: translateY(0px);
      }

      &-exit-active {
        transform: translateY(-500px);
        transition: transform 550ms linear;
      }
    }
  }

  @include mix.media(md-mobile) {
    &-header {
      padding: 10px;
      font-size: 13px;
    }

    &-body {
      font-size: 12px;
      padding: 13px 20px 19px 13px;
    }
  }
}
